<div class="container">
  <h2>
    <i class="fa-solid fa-user-tie"></i>
    Cadastro de Avaliador Externo
  </h2>

  <form (ngSubmit)="salvarAvaliador()" #form="ngForm">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        id="nome"
        name="nome"
        class="form-control"
        [(ngModel)]="avaliador.nome"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        [(ngModel)]="avaliador.email"
        required
      />
    </div>

    <div class="form-group">
      <label for="especialidade">Especialidade</label>
      <input
        type="text"
        id="especialidade"
        name="especialidade"
        class="form-control"
        [(ngModel)]="avaliador.especialidade"
        required
      />
    </div>

    <div class="form-group">
      <label for="subespecialidade">Subespecialidade</label>
      <input
        type="text"
        id="subespecialidade"
        name="subespecialidade"
        class="form-control"
        [(ngModel)]="avaliador.subespecialidade"
      />
    </div>

    <div class="form-group">
      <label for="lattes_link">Link do Currículo Lattes</label>
      <input
        type="url"
        id="lattes_link"
        name="lattes_link"
        class="form-control"
        [(ngModel)]="avaliador.link_lattes"
      />
    </div>

    <button type="submit" class="btn" [disabled]="form.invalid">
      <i class="fa-solid fa-floppy-disk"></i>
      Salvar
    </button>
  </form>
</div>
