<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-column footer-brand">
        <img src="./../../../assets/Logo.jpg" alt="Logo USCS" class="footer-logo" />
        <p class="footer-brand-text">
          Universidade Municipal de<br />São Caetano do Sul
        </p>
        <div class="footer-social">
          <a
            href="https://www.facebook.com/uscsoficial/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
          <a
            href="https://www.instagram.com/uscsoficial"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <i class="fab fa-instagram"></i>
          </a>
          <a
            href="https://x.com/USCS_Online"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Twitter"
          >
            <i class="fab fa-twitter"></i>
          </a>
          <a
            href="https://www.youtube.com/@USCSOficial"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
          >
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>

      <div class="footer-column">
        <h4>Ensino</h4>
        <ul>
          <li>
            <a
              href="https://cursoslivres.uscs.edu.br/"
              target="_blank"
              rel="noopener noreferrer"
              >Cursos Livres</a
            >
          </li>
          <li>
            <a
              href="https://hotsites.uscs.edu.br/cursostecnicos/"
              target="_blank"
              rel="noopener noreferrer"
              >Cursos Técnicos</a
            >
          </li>
          <li>
            <a
              href="https://uscs.edu.br/modalidade-de-ensino/graduacao-presencial/"
              target="_blank"
              rel="noopener noreferrer"
              >Graduação Presencial</a
            >
          </li>
          <li>
            <a
              href="https://uscs.edu.br/modalidade-de-ensino/graduacao-ead/"
              target="_blank"
              rel="noopener noreferrer"
              >Graduação EAD</a
            >
          </li>
          <li>
            <a
              href="https://uscs.edu.br/modalidade-de-ensino/pos-stricto-sensu/"
              target="_blank"
              rel="noopener noreferrer"
              >Pós-Graduação</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Pesquisa</h4>
        <ul>
          <li><a href="#" routerLink="/">Centro de Pesquisa (CPC)</a></li>
          <li><a href="#" routerLink="/">Grupos de Pesquisa</a></li>
          <li><a href="#" routerLink="/">Iniciação Científica</a></li>
          <li><a href="#" routerLink="/">Publicações</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Extensão</h4>
        <ul>
          <li><a href="#" routerLink="/">Apoio à Comunidade</a></li>
          <li><a href="#" routerLink="/">Atendimento ao Público</a></li>
          <li><a href="#" routerLink="/">Cursos de Extensão</a></li>
          <li><a href="#" routerLink="/">Projetos Comunitários</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Contato</h4>
        <ul>
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <span>Rua Santo Antônio, 50<br />Centro - São Caetano do Sul</span>
          </li>
          <li>
            <i class="fas fa-phone"></i>
            <span>(11) 4239-3200</span>
          </li>
          <li>
            <i class="fas fa-envelope"></i>
            <span>contato&#64;uscs.edu.br</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>
        &copy; 2025 USCS - Universidade Municipal de São Caetano do Sul. Todos
        os direitos reservados.
      </p>
    </div>
  </div>
</footer>
